@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@font-face {
  font-family: 'Bliss Pro Bold';
  src: url('../fonts/BlissPro-Bold.eot');
  src: url('../fonts/BlissPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BlissPro-Bold.woff') format('woff'),
  url('../fonts/BlissPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }