@media (max-width: 1400px) {
  .header-nav__list {
    display: flex;
    .header-nav__list-item {
      margin-right: 36px;
    }
    .header-nav__list-link {
      font-size: 12px;
     
    }
  }
}