@media (max-width: 1400px) {
  .header {
    max-width: 1380px;
  }
  .header-nav__list {
    .header-nav__list-item {
      margin-right: 30px;
    }
    .header-nav__list-link {
      font-size: 12px;  
    }
  }

}