@media (max-width: 1430px) {
  .footer, 
  .news, 
  .industries, 
  .header {
    max-width: 1335px;
  }
  .header-nav__list {
    .header-nav__list-item {
      margin-right: 30px;
    }
    .header-nav__list-link {
      font-size: 12px;  
    }
  }
  .slider-block__content-title {
    font-size: 42px;
  }
  .slider-block__content-text {
    font-size: 20px;
}
}