@import "vars";
@import "libs";
@import "fonts";
@import "global";
body {
  background-color: darkgrey;
}
.header {
  margin: 0 auto;
  max-width: 1486px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  height: 80px;
}
.header-logo {
  margin-bottom: 15px;
}
.header-nav__list {
  display: flex;
  .header-nav__list-item {
    margin-right: 36px;
  }
  .header-nav__list-link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.slider {
  max-width: 1486px;
  margin: 0 auto;
  height: 568px;
}
.slider-block__content-img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.slider-block__content-title {
  color:  $white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-top: 110px;
    &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 85px;
    left: 0;
    margin: auto;
    right: 0;
    width: 26px;
    height: 3px;
    background-color: $blue;
  }
}
.slider-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  position: relative;
}
.slider-block__content-text{
  color:  $white;
  text-align: center;
  font-size: 26px;
  margin-bottom: 60px;
}
.btn {
  border-radius: 4px;
  background-image: linear-gradient( 180deg, rgb(2,176,230) 0%, rgb(0,138,230) 100%);
  padding: 15px 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Bliss Pro Bold';
  outline: none;
}


.slider-arrows__right {
  position: absolute;
  top: 205px;
  right: 0;
  cursor: pointer;
}


.slider-arrows__left {
  position: absolute;
  top: 205px;
  left: 0;
  cursor: pointer;
}
.slick-dots {
  font-size: 0px;
  display: flex;
  justify-content: center;
  margin: auto;
  button{
      border: 2px solid $blue;
      width: 20px;
      height: 20px;
      border-radius: 30%;
      background-color: transparent;
      margin-top: 16px;
      outline-style: none;
      cursor: pointer;
      margin-left: 10px;
      margin-bottom: 40px;
  }
}
.slick-active {
  button {
    background-color: $blue;
  }
}
.news,
.industries {
  max-width: 1486px;
  margin: 0 auto;
}
.news-title,
.industries-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #334965;
}
.news-block,
.industries-block {
  display: flex;
  justify-content: space-between;
}
.industries-block__content {
  max-width: 345px;
  background-color: #f8f8f8;
  border-radius: 10px;
  .industries-block__content-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    color: #2c4462;
    text-transform: uppercase;
  }
  .industries-block__content-text {
    font-size: 17px;
    padding-left: 25px;
    color: #334965;
    max-width: 358px;
    line-height: 25px;
  }
  .industries-block__content-img {
    max-width: 345px;
  }
}
.news-block__content-link,
.industries-block__content-link {
  background-image: linear-gradient( 180deg, rgb(26,119,196) 0%, rgb(0,138,230) 100%);   
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.production {
  margin-top: 50px;
  background-image: url('../img/tech.png');
  background-repeat: no-repeat;
}
.production-wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1486px;
  margin: 0 auto;
}
.production-block {
  margin-top: 50px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .production-block__title {
    color:  $white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
      &::before {
      content: '';
      position: absolute;
      bottom: 0;
      top: 85px;
      left: 0;
      margin: auto;
      right: 0;
      width: 26px;
      height: 3px;
      background-color: $blue;
    }
  }
  .production-block__text {
    color:  #e3e6ea;
    text-align: center;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 60px;
  }
  .production-block__link {
    margin-bottom: 50px;
  }
}
.news-block__content {
  max-width: 474px;
  background-color: #f8f8f8;
  border-radius: 12px;
  .news-block__content-img {
    max-width: 470px;
    padding: 10px;
  }
  .news-block__content-title {
    margin-top: 10px;
    margin-bottom: 0;
    color: #334965;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
  }
  .news-block__content-date {
    font-size: 14px;
    color: $blue;
    padding: 10px;
  }
  .news-block__content-text {
    margin-top: 0;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
    color:  #5a6c82;
  }
}
.news-btn {
  color: $blue;
  border:2px solid $blue;
  border-radius: 10px;
  padding: 15px 40px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@import "media";


