@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  margin: 0 auto;
  background-color: rgb(226, 128, 128);
  max-width: 1836px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  height: 80px;
}
.header-logo {
  margin-bottom: 15px;
}
.header-nav__list {
  display: flex;
  .header-nav__list-item {
    margin-right: 36px;
  }
  .header-nav__list-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.slider {
  background-image: url(../img/VPS.png);
  background-position: ;
}

@import "media";


