@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  margin: 0 auto;
  
  max-width: 1836px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  height: 80px;
}
.header-logo {
  margin-bottom: 15px;
}
.header-nav__list {
  display: flex;
  .header-nav__list-item {
    margin-right: 36px;
  }
  .header-nav__list-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.slider {
 
  height: 568px;
}
.slider-block__content-img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.slider-block__content-title {
  color:  $white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
    &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 85px;
    left: 0;
    margin: auto;
    right: 0;
    width: 26px;
    height: 3px;
    background-color: $blue;
  }
}
.slider-block__content-text{
  color:  $white;
  text-align: center;
  font-size: 26px;
}
.btn {
  .Прямоугольник__скругл__углы_1 {
  border-radius: 4px;
  background-image: -moz-linear-gradient( 180deg, rgb(2,176,230) 0%, rgb(0,138,230) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(2,176,230) 0%, rgb(0,138,230) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(2,176,230) 0%, rgb(0,138,230) 100%);
 
  width: 159px;
  height: 40px;
 
}

}

@import "media";


